/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.heading {
    text-decoration: underline;
    text-decoration-color: rgb(221, 150, 18);
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background: orange;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
header .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    transition: 0.5s;
}
header .logo img {
    height: 100px;
    width: auto;
    margin-right: 10px;
    border-radius: 0%;
}
header ul {
    display: flex;
    gap: 100px;
}
header ul li {
    list-style: none;
}
.nav-links:hover {
    color: orangered;
}
header ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 2em;
    color: #ffffff;
    transition: 0.5s;
}
.about-me {
    padding: 100px 20px;
    margin-top: 100px;
}
.about-me h1 {
    font-size: 3em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.about-me section {
    margin-bottom: 40px;
}
.about-me h2 {
    font-size: 2.5em;
    color: orange;
    margin-bottom: 10px;
}
.about-me p {
    font-size: 1.5em;
    color: #666;
    line-height: 1.6;
}
.DayNight {
    position: relative;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;
    transition: background 0.5s, color 0.5s; /* Add transition */
}
.DayNight ion-icon:nth-child(2), .about-me.night .DayNight ion-icon:nth-child(1) {
    display: none;
}
.about-me.night .DayNight ion-icon:nth-child(2) {
    display: block;
}
.about-me.night {
    background: #333;
}
.about-me.night .DayNight {
    color: #fff;
    background: #444;
}
.about-me.night .heading h1, .about-me.night .intro p, .about-me.night .hobbies p, .about-me.night .goals1 p, .about-me.night .back p {
    color: #fff;
}
